@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@800;600&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}

.header-area{
    padding: 20px 0;
}
.header-nav ul li {
   padding: 0px 14px;
}
.header-nav ul li a{
  color:#000;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 17px;
}
.logon-area{
    padding-top: 10px;
}
.ans-search-area{
  background-color: #F5F5F5;
  padding: 50px 0px;
}
.search-ans-content h2{
  color:#161e2e;
  text-transform: capitalize;
  font-weight: 800;
}

.popular-category-area{
  padding: 30px 0px;
}
.popular-category{
  color:#d1570d;
  text-align: center;
}
.table-category-item i{
  color:#4FBD7F;
  font-size: 40px;
}
.table-category-item a{
  font-size: 20px;
  text-decoration: none;
}
.category-td:hover{
  background-color:#F4FBF7;
}

.section-one-area,.section-two-area,.section-three-area,.section-four-area{
padding: 50px 50px;
box-shadow: 1px 1px #F5F5F5;
}
.sign-up-area{
  background-color: #FEEBDB;
  padding: 60px 0px;
}
.signup-text{
  padding-left: 20px;
}
.singup-btn{
    background-color: #DA680B;
    color: #fff;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}
.signup-text h2{
  text-transform:lowercase;
  
}
.platform-featurs-area{
  padding: 50px 0;
  background-color: #F5F5F5;
}
.features-card{
    border-radius: 12px;
    text-align: center;
    box-shadow: 4px 5px 10px rgb(0 0 0 / 20%);
}
.features-tittle{
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:bolder;
  color:#2f3337

}
.why-choose-area{
    padding: 50px 50px;
}
.choose-us-content h2{
    font-size: 23px;
    color:#000;
    font-style: bolder;
}
.choose-us-content p{
    font-size: 14px;
}
.choose-accordion-tittle{
  color: #000;
  font-weight: 900;
}
.testimonial-area{
    background-color: #F5F5F5;
    padding: 30px 30px;

}
.testimonial-heading{
    font-size: 26px;
    padding: 16px 16px;
}
.testimonial-card{
    flex-direction: row;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 20%;
}
.category-table-area{
    padding: 40px 0px;
}
.footer-widget-area{
    background-color: #000;
    color:#fff;
    padding: 50px 50px;
}
.footer-single-area ul{
  list-style: none;
}
.footer-single-area ul li a{
     color:#fff;
}
.footer-social-icon i{
    font-size: 25px;
    border-radius: 42%;
    padding: 0 2px;
}
.facebook_icon{
    color:#3b5998;
  }
  .instgram_icon{
  color:#3f729b;
  }
  .twitter_icon{
  color:#55acee;
  }
  .linkdin_icon{
     color:#0077b5;
  }
  .quora_icon{
  color:#B92B27;
  }
  /*==================================
  category code question
  ====================================*/
  .page-tittle-area{
    background-color: #F5F5F5;
    padding: 40px 40px;
  }
  .code-question-area{
    padding: 30px 0;
  }
  .popular-code-area{
    padding: 50px 0;
    background-color:#F5F5F5 ;
  }
  .question-heading{
    font-size: 25px;
    text-align: center;
    background-color: #DA680B;
    color: #fff;
    padding: 7px 5px;
  }
  /*==============================
  category code ans
  ================================*/
  .code-ans-input{
    padding: 9px 20px;
    border-radius: 20px;
    border: 1px solid #000;
  }
  .code-ans-area{
    padding: 30px 0;
  }
  .framework-ans-area{
    padding: 50px 0px;
  }
